# Quarto
/.quarto/
/_site/
/_freeze/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
ENV/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets (never commit)
.env
*.secret

# Local Netlify folder
.netlify

**/*.quarto_ipynb
